body {
  background: #f5f7f9;
}
.van-field__left-icon .van-icon {
  font-size: 30px;
  color: #666666;
  margin-right: 15px;
}
.van-nav-bar {
  background: #3296fa;
  position: fixed;
  top: 0;
  width: 100%;
}
.van-nav-bar .van-nav-bar__title,
.van-nav-bar .van-icon-arrow-left,
.van-nav-bar .van-nav-bar__text {
  color: #fff;
}
.van-tabs--line .van-tabs__wrap {
  border-bottom: 1px solid #eeeeee;
  position: fixed;
  top: 92px;
}
.van-tabs__content {
  margin-bottom: 100px;
  margin-top: 92px;
}
.van-tabs__wrap--scrollable .van-tabs__nav {
  margin-right: 90px;
}
